.stats{
    display: grid;
    grid-template-columns: "repeat(2,1fr";
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.stats2{
    display: flex;
    
}
@media only screen and (max-width: 600px) {
    .stats{
        display: grid;
        grid-template-columns: "repeat(1,1fr";
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
    .stats2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (min-width: 600px) and (max-width:900px) {
    .stats{
        display: grid;
        grid-template-columns: "repeat(1,1fr";
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
    .stats2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}